= "Welcome #{ @user.first_name.capitalize } #{ @user.last_name.capitalize }"

| You have been signed up for Odinbook. To login please click the following link:
= link_to 'Odinbook', new_user_session_url